h1{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: "MedievalSharp", sans-serif;
    font-weight: bolder;
}

#main-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.panda-card{
    width: 20%;
    border: 1px solid rgb(200, 200, 200);
    padding: 10px 30px;
}

.panda-card > div > img{
    display: block;
    width: 100%;
    border-radius: 50%;
}

.panda-card > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.panda-card > div > p, .panda-card > div > h2{
    margin: 7px 0px 2px 0px;
}
.panda-card > div > p {
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(120, 120, 110);
}